:root{
    --bg-blue-light: #5CE1E6;
}



/***
NAV BAR
***/

nav{
    background-color: var(--bg-blue-light)!important;
    z-index: 1000;
}

.navbar-toggler{
    border: none!important;
}

.dropdown-menu {
    border:none!important;
    background-color: white!important;
}

nav img{
    width: 100px;
    position: absolute;
    top: 0;
}

.navbar-collapse{
    flex-grow: 0!important;
}


/*CAROUSEL*/

.carousel{
    height: 550px;

}

.carousel .carousel-item{
    height: 550px;
}

.carousel-item img{
    height: 100%;
    width: 100%;
}

.carousel-caption{
    padding-bottom: 0!important;
    top: 50%;
}

.carousel-caption h2{
    color: white;
    background: rgba(0, 0, 255, 0.425);
    font-weight: bold;
    text-align: left;
    max-width: 400px;
}

.carousel-caption a{
    float: left;
}

.

/*ABOUt*/

.about_option{
    align-items: baseline;
}

.about_option div{
    height: 1px;
    background-color: rgba(128, 128, 128, 0.377);
    flex: 1;
}

.about_option span{
    width: 300px;
    max-width: 100%;
}

.employes img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.col-section > div{
    align-self: flex-start;
}

.employes_section{
    background-color: var(--bg-blue-light);
}

.employes{
    text-align: center;
}

.employes .fonction{
    font-family: 'Mv Boli';
}

@media screen and (max-width: 991px){
    .navbar-nav{
        padding-top: 40px!important;
    }
}

@media screen and (max-width: 410px){
    .about_option h1{
        display: flex;
        flex-direction: column;
    }

    .about_option span{
        text-align: center;
    }

    .about_option div{
        display: none;
    }
}
