:root{
    --bg-blue-light: #5CE1E6;
}



/***
NAV BAR
***/

nav{
    background-color: var(--bg-blue-light)!important;
}

nav img{
    width: 100px;
    position: absolute;
    top: 0;
}

.navbar-collapse{
    flex-grow: 0!important;
}





@media screen and (max-width: 100px){
    .navbar-nav{
        padding-top: 30px!important;
    }
}
